.bg-main {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  height: 100vh;
}
#webcam {
  background-color: blue;
  position: absolute;

  margin: auto;
  z-index: 100;
  visibility: hidden;
}
